@charset "utf-8";
/* CSS Document */

/*===============================================
●smart.css  画面の横幅が960pxまで
===============================================*/
@media screen and (max-width:960px){
	
* {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
html {
	height: 100%;
	font-size: 62.5%;
}
body{
	width:100%;
	height: 100%;
	min-height: 100%;
	font-size: 1.4rem !important;
	/*font-size: 12px !important;*/
	color: #4f545d;
	line-height: 1.7;
	-webkit-text-size-adjust: 100%;
	background-color:#ffffff;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
}
ul, ul li {
	list-style: none;
}
html, body {
	height: 100%;
}
html>/**/body {
	font-size: 12px;
	height: auto;
	min-height: 100%;
}

img{
max-width: 100%;
height: auto;
width /***/:auto;　
}
#container{
width:100%;
}

.clearfix {
	zoom:1;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.bold{
	font-weight:bold;
}

.linkcolor{
	color:#60edfc;
}

.linkcolor2{
	color: #4f545d;
}


.textIndent{
	padding-left:1em;
	text-indent:-1em;
}

.pc{
	display:none;
}

.sp{
	display:block;
}


#page{
	width:100%;
	min-width:320px;	
}

/*--header--*/
header {
	position:relative;
	border-bottom:2px solid #0b60a9;
	height:50px;
	width:100%;
}

header img{
	width:100%;
}

header p.logo{
	position:absolute;
	top:15px;
	left:10px;
	width:35%;
}

header p.logo img{
	width:107px;
}

header p.b_topSP{
	position:absolute;
	top:15px;
	right:10px;
	
}
header p.b_topSP a{
	color:#0270ca;
}

header p.b_topSP a.arrow{
	padding-left:13px;
	background-image:url(../img/common/icon-arrow.png);
	background-repeat:no-repeat;
	background-position:left;
}

/*IE8*/

div.header {
	position:relative;
	border-bottom:2px solid #0b60a9;
	height:50px;
	width:100%;
}

div.header img{
	width:100%;
}

div.header p.logo{
	position:absolute;
	top:15px;
	left:10px;
	width:35%;
}

div.header p.logo img{
	width:107px;
}

div.header p.b_topSP{
	position:absolute;
	top:15px;
	right:10px;
	
}
div.header p.b_topSP a{
	color:#0270ca;
}

div.header p.b_topSP a.arrow{
	padding-left:13px;
	background-image:url(../img/common/icon-arrow.png);
	background-repeat:no-repeat;
	background-position:left;
}

/*--top--*/

div.nav{
	position:relative;
}
ul.header2{
	position:relative;	
	height:50px;
	padding-top:10px;
	/*width:100%;*/
	min-width:296px;
	margin-left:12px;
	margin-right:12px;
}

ul.header2 li{
	float:left;
}

ul.header2 li.menu{
	width:15%;
	padding-right:10px;
	
}

ul.header2 li.menu img{
	/*width:42px;*/
	width:100%;
}

ul.header2 li.success{
	width:55%;
	padding-top:3px;
	padding-right:16px;
	
}

ul.header2 li.success img{
	/*width:156px;*/
	width:100%;
}


ul.header2 li.login{
	width:21%;	
}

ul.header2 li.login img{
	/*width:62px;*/
	width:100%;
}

ul.header2 li.offer{
	width:21%;	
	padding-top:10px;
}

ul.header2 li.offer img{
	/*width:62px;*/
	width:100%;
}

.nav-open {
	display: none;
	position:absolute;
	top: 70px;
	overflow: hidden;
	text-align: center;
}

.nav-open li {
	width: 100%;
}

.nav-open li img{
	width: 100%;
}
.nav-open li a {
	display: block;
	height: auto;
	border-bottom: 1px #5077b7 solid;
	line-height: 0;
}


p.order{
	padding-top:5px;
	clear:both;
	margin-left:12px;
	margin-right:12px;
	
}

p.order img{
	width:100%;
}

h1.main{
	padding-top:5px;
}

h1.main img{
	width:100%;
}

ul.btn{
	padding-top:20px;
	margin-left:25px;
	margin-right:25px;
}

ul.btn li{
	float:left;
	padding-right:20px;
	width:46.3%;
}

ul.btn li:nth-child(2),
ul.btn li:nth-child(4){
	padding-right:0px;
}

p.order2{
	clear:both;
	padding-top:30px;
	margin-left:12px;
	margin-right:12px;
	
}

p.order2 img{
	width:100%;
}



/*--guide--*/
h1.guide01{
	clear:both;
	border-top:2px solid #0b60a9;
	margin-top:10px;
	
}

h1.guide01 img{
	width:45%;
	padding-top:10px;
	padding-left:12px;
	padding-bottom:10px;
}

ul.guide li.no1{
	padding:0;
}

ul.guide li{
	padding-top:30px;
}

ul.guide li img{
	width:100%;
}


/*--service*--*/

h1.service01{
	clear:both;
	border-top:2px solid #0b60a9;
	margin-top:10px;	
}

h1.service01 img{
	width:60%;
	padding-top:10px;
	padding-left:12px;
	padding-bottom:10px;	
}

div.service02 p img,
div.service03 p img,
div.service04 p img{
	width:100%;
	
}

div.service02{
	padding-bottom:30px;	
}
div.service03{
	padding-bottom:20px;	
}

div.service03 dl{
	margin-left:10px;
	margin-right:10px;
}

div.service03 dt{
	font-weight:bold;
	color:#22509c;
	font-size:1.7rem !important;	
	padding-top:10px;
}

div.service03 dd.color{
	color:#ff7d7d;
}

div.service03 dd span{
	color:#22509c;
}

div.service03 dd.subject{
	border:1px solid #22509c;
	padding:5px;
	margin-top:5px;
	margin-bottom:5px;
}


div.service04 dl{
	margin-left:10px;
	margin-right:10px;
	
}

div.service04 dt.color{
	/*font-weight:bold;*/
	color:#22509c;
	font-size:1.6rem !important;
	padding-bottom:5px;
	padding-top:10px;
	
}

/*--voice--*/

h1.voice01{
	clear:both;
	border-top:2px solid #0b60a9;
	margin-top:10px;	
}

h1.voice01 img{
	width:35%;
	padding-top:10px;
	padding-left:12px;
	padding-bottom:10px;	
}

p.voice02{
	padding-bottom:10px;
		
}

p.voice02 img{
	width:100%;
		
}


/*--faq--*/

h1.faq01{
	clear:both;
	border-top:2px solid #0b60a9;
	margin-top:10px;	
	text-align:center;
}

h1.faq01 img{
	width:90%;
	padding-top:10px;
	padding-bottom:10px;	
}

div.faq02{
	padding-bottom:30px;
}

div.faq02 p{
	padding-top:10px;
	padding-left:12px;
}

div.faq02 ul{
	background-color:#32b4ff;
	border:1px solid #32b4ff;
	border-radius:10px;
	margin-top:10px;
	margin-left:12px;
	margin-right:12px;
	padding-top:10px;
	padding-bottom:10px;
}

div.faq02 ul li{
	color:#ffffff;
	text-align:center;
	margin-right:20px;
	margin-left:20px;
}

div.faq02 ul li:nth-child(1){
	font-weight:bold;
	padding-top:4px;
	padding-bottom:4px;
}

div.faq02 ul li:nth-child(2){
	border-top:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	font-weight:bold;
	font-size:2.7rem !important;
	padding-top:3px;
	padding-bottom:3px;
}

div.faq02 ul li:nth-child(3){
	font-size:1.25rem !important;
	padding-bottom:4px;
	padding-top:4px;
}

div.faq02 ul li:nth-child(4){
	font-size:1.25rem !important;
	padding-bottom:4px;
	padding-top:4px;
	text-align:left;
}

div.faq02 ul li:nth-child(4) p{
	text-indent:-1em;
	padding-left:1em;
	line-height:1.5;
	padding-top:0;
}

div.faq03 {
	margin-left:10px;
	margin-right:10px;
		
}

div.faq03 h2 img{
	width:100%;
		
}

div.faq03 ul {
	padding-bottom:20px;
		
}


div.faq03 ul li{
	font-weight:bold;
	padding-bottom:10px;
	text-indent:-1.1em;
	padding-left:1.1em;
		
}

div.faq03 ul li a{
	text-decoration:none;
	color:#22509c;
		
}

div.faq04 h2 img{
	width:100%;
}

div.faq04 dl{
	padding-top:10px;
	margin-left:10px;
	margin-right:10px;
}

div.faq04 dt{
	clear:both;
	padding-bottom:5px;
	padding-top:15px;
	font-weight:bold;
	color:#22509c;
}

div.faq04 dt.no1{
	padding-top:0px;
}


div.faq04 dd span{
	color:#11c3f5;
	
}

div.faq04 dd{
	text-indent:-1.1em;
	padding-left:1em;
	padding-bottom:5px;
}

/*--tokusyo--*/

h1.tokusyo01{
	clear:both;
	border-top:2px solid #0b60a9;
	margin-top:10px;
	text-align:center;
}

h1.tokusyo01 img{
	width:90%;
	padding-top:10px;
	padding-bottom:10px;	
}

div.tokusyo02{
}

div.tokusyo02 h2{
}

div.tokusyo02 h2 img{
	width:100%;
}

div.tokusyo02 p{
	margin-left:12px;
	margin-right:12px;
	padding-top:10px;
	padding-bottom:30px;
}

div.tokusyo03{
}

div.tokusyo03 h2{
}

div.tokusyo03 h2 img{
	width:100%;
}

div.tokusyo03 p{
	margin-left:12px;
	margin-right:12px;
	padding-top:10px;
	padding-bottom:30px;
}

div.tokusyo03 p span{
	color:#ff7474;
}

div.tokusyo04{
}

div.tokusyo04 h2{
}

div.tokusyo04 h2 img{
	width:100%;
}

div.tokusyo04 p{
	margin-left:12px;
	margin-right:12px;
	padding-top:10px;
	padding-bottom:30px;
}

div.tokusyo04 p span{
	color:#ff7474;
}

div.tokusyo04 p a{
	color: #4f545d;
}

div.tokusyo05{
}

div.tokusyo05 h2{
}

div.tokusyo05 h2 img{
	width:100%;
}

div.tokusyo05 p{
	margin-left:12px;
	margin-right:12px;
	padding-top:10px;
	padding-bottom:30px;
}

div.tokusyo05 p span{
	font-weight:bold;
}

div.tokusyo05 p span.color{
	color:#22509c;
}

div.tokusyo06{
}

div.tokusyo06 h2{
}

div.tokusyo06 h2 img{
	width:100%;
}

div.tokusyo06 p{
	margin-left:12px;
	margin-right:12px;
	padding-top:10px;
	padding-bottom:30px;
}

div.tokusyo07{
}

div.tokusyo07 h2{
}

div.tokusyo07 h2 img{
	width:100%;
}

div.tokusyo07 p{
	margin-left:12px;
	margin-right:12px;
	padding-top:10px;
	padding-bottom:20px;
	
}

div.tokusyo08 h2{
}

div.tokusyo08 h2 img{
	width:100%;
}

div.tokusyo08 p{
	margin-left:12px;
	margin-right:12px;
	padding-top:10px;
	padding-bottom:20px;
	
}

div.tokusyo09 h2{
}

div.tokusyo09 h2 img{
	width:100%;
}

div.tokusyo09 p{
	margin-left:12px;
	margin-right:12px;
	padding-top:10px;
	padding-bottom:20px;
	
}


div.tokusyo09 p a{
	color: #4f545d;
}

/*--offer--*/

h1.offer01{
	clear:both;
	border-top:2px solid #0b60a9;
	margin-top:10px;	
}

h1.offer01 img{
	width:45%;
	padding-top:10px;
	padding-left:12px;
	padding-bottom:10px;	
}

div.offer02{
	padding-bottom:30px;
	
}
div.offer02 h2{
	padding-bottom:12px;
	
}
div.offer02 h2 img{
	width:100%;
}

div.offer02 .kousin {
		overflow-y:scroll;
		/*width:90%;*/ 
		height:120px;
		padding:5px;
		border:2px solid #dbdbdb;
		background-color:#ffffff;
		line-height:1.5em;
		margin-left:12px;
		margin-right:12px;
		padding-left:5px;
		padding-right:5px;
		

}

div.offer02 .kousin ul{
	padding-bottom:10px;

}

div.offer02 .kousin ul li{
	text-indent:-1em;
	padding-left:1em;
	padding-bottom:3px;

}

/*スクロールバー表示させる*/
div.offer02 .kousin::-webkit-scrollbar{ 
    width: 15px;
}

div.offer02 .kousin::-webkit-scrollbar-thumb{ 
    background: #bcbcbc;
    /*border-radius: 10px;*/
}
div.offer02 .kousin::-webkit-scrollbar-track-piece:start{
    background: #f1f1f1;
}
div.offer02 .kousin::-webkit-scrollbar-track-piece:end{
    background: #f1f1f1;
}


div.offer03{
	padding-bottom:30px;
	
}
div.offer03 h2 img{
	width:100%;
}

div.offer03 p{
	margin-left:12px;
	margin-right:12px;
}

div.offer03 dl{
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	width:300px;
}

.acMenu dt{
    display:block;
    height:30px;
    text-align:left;
    cursor:pointer;
    background:url(../img/offer/delta01.gif) 280px 4px no-repeat;
	background-size:14px 12px;
    /*padding-right:15px;*/
	color:#22509c;
	font-weight:bold;
    }
.acMenu dd{
    width:100%;
    /*height:220px;*/
    text-align:center;
    display:none;
    }
.acMenu dt.active{
    background:url(../img/offer/delta02.gif) 280px 4px no-repeat;
	background-size:14px 12px;
    }
	
.acMenu2 dt{
	margin-top:10px;
    display:block;
    height:30px;
    text-align:left;
    cursor:pointer;
    background:url(../img/offer/delta01.gif) 280px 4px no-repeat;
	background-size:14px 12px;
    /*padding-right:15px;*/
	color:#22509c;
	font-weight:bold;
    }
.acMenu2 dd{
    height:150px;
    display:none;
    }
.acMenu2 dt.active{
    background:url(../img/offer/delta02.gif) 280px 4px no-repeat;
	background-size:14px 12px;
    }
	
.acMenu3 dt{
	margin-top:10px;
    display:block;
    height:30px;
    text-align:left;
    cursor:pointer;
    background:url(../img/offer/delta01.gif) 280px 4px no-repeat;
	background-size:14px 12px;
    /*padding-right:15px;*/
	color:#22509c;
	font-weight:bold;
    }
.acMenu3 dd{
    height:150px;
    display:none;
    }
.acMenu3 dt.active{
    background:url(../img/offer/delta02.gif) 280px 4px no-repeat;
	background-size:14px 12px;
    }
	
div.offer03 dl dd p.gray{
	padding:10px;
	background-color:#f0f0f0;
}	

div.offer03 dl dd p span{
	font-weight:bold;
}	
	

div.offer04{
	padding-bottom:20px;
	
}
div.offer04 h2 img{
	width:100%;
}

div.offer04 p{
	margin-left:12px;
	margin-right:12px;
	
}

div.offer04 p a{
	color: #4f545d;
	
}


div.offer05 h2{
	padding-bottom:10px;
}

div.offer05 h2 img{
	width:100%;
}

div.offer05 p{
	padding-bottom:15px;
	margin-left:12px;
	margin-right:12px;
}

div.offer05 p img{
	width:100%;
}

div.offer05 p span img{
	width:14px;
}

div.offer05 p a{
	color:#32b4ff;
}


/*--about--*/

h1.about01{
	clear:both;
	border-top:2px solid #0b60a9;
	margin-top:10px;	
}

h1.about01 img{
	width:70%;
	padding-top:10px;
	padding-left:12px;
	padding-bottom:10px;	
}

div.about02 p{
	line-height:1;
	font-size:0;	
}


div.about02 p img{
	width:100%;
}









/*--footer--*/

p.pagetop{
	padding-top:30px;
	padding-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	width:52px;
}


footer{
	padding-bottom:15px;
}

footer ul.ft1{
	padding-bottom:10px;
}

/*footer ul.ft1 li{
	background-color:#ddefff;
	border-bottom:1px solid #c3dcf2;
	width:100%;
	height:88px;
	text-align:center;
}

footer ul.ft1 li a{
	color:#22509c;
}*/

footer ul.ft1 li{
	/*height:auto;*/
	line-height:1;
	font-size:0;
}

footer ul.ft1 li:nth-child(2){
	/*margin-top:-6px;*/
}
footer ul.ft1 li img{
	background-color:#ddefff;
	border-bottom:1px solid #c3dcf2;
	height:auto;
	width:100%;
}

footer ul.ft2 li:nth-child(1) {
	padding-left:14px;
	padding-bottom:7px;
	
}

footer ul.ft2 li:nth-child(2) {
	float:left;
	padding-left:14px;
	padding-right:14px;
	
}
footer ul.ft2 li:nth-child(3) {
	
	
}

footer ul.ft2 li a{
	color:#0270ca;
}


footer ul.ft2 li a.arrow{
	padding-left:13px;
	background-image:url(../img/common/icon-arrow.png);
	background-repeat:no-repeat;
	background-position:left;
}

footer p{
	padding-top:7px;
	padding-left:14px;
	clear:both;
}

/*IE8*/

div.footer{
	padding-bottom:15px;
}

div.footer ul.ft1{
	padding-bottom:10px;
}



div.footer ul.ft1 li{
	/*height:auto;*/
	line-height:1;
	font-size:0;
}

div.footer ul.ft1 li:nth-child(2){
	/*margin-top:-6px;*/
}
div.footer ul.ft1 li img{
	background-color:#ddefff;
	border-bottom:1px solid #c3dcf2;
	height:auto;
	width:100%;
}

div.footer ul.ft2 li:nth-child(1) {
	padding-left:14px;
	padding-bottom:7px;
	
}

div.footer ul.ft2 li:nth-child(2) {
	float:left;
	padding-left:14px;
	padding-right:14px;
	
}
div.footer ul.ft2 li:nth-child(3) {
	
	
}

div.footer ul.ft2 li a{
	color:#0270ca;
}


div.footer ul.ft2 li a.arrow{
	padding-left:13px;
	background-image:url(../img/common/icon-arrow.png);
	background-repeat:no-repeat;
	background-position:left;
}

div.footer p{
	padding-top:7px;
	padding-left:14px;
	clear:both;
}

/*--other--*/


.textBig{
	font-size:16px;

}
.pdT10{
	padding-top:10px;
}
.pdT12{
	padding-top:12px;
}
.pdT20{
	padding-top:20px;
}
.pdB10{
	padding-bottom:10px;
}
.pdB20{
	padding-bottom:20px;
}

.center{
	text-align:center;
}

.textspace{
	padding-bottom:5px;
}

.mgLR12{
	margin-left:12px;
	margin-right:12px;
}

/*.flowLeft{
	float:left;
}*/

}

