@charset "UTF-8";

h2 {
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:26px;
	font-weight:bold;
	border-top:#22509c 3px solid;
	border-bottom:#22509c 3px solid;
	margin-bottom:17px;
}

h3 {
	color:#1d1d1d !important;
}

h3 img {
	margin-right:13px;
}

section {
	margin-bottom:60px;
}

p.main-img {
	margin-bottom:20px;
}

p.lead {
	font-size:20px !important;
	text-align:left;
	width:520px;
	margin:0 auto 40px;
	/*
	margin:0 220px 40px 220px;
	*/
}

.national {
	background-color:#85cfeb;
	width:600px;
	margin:0 auto 20px;
	padding-bottom:0;
}

.national h3,
.private h3 {
	background-color:transparent;
}

.n_box_b ul,
.p_box ul {
	background-color:#FFFFFF;
	text-align:left;
	width:580px;
	margin:0 auto 10px;
}

.p_box ul {
	margin:0 auto -60px;
}

.n_box_b li,
.p_box li {
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:38px;
	padding:20px 0 20px 150px;
	list-style-image:url(../img/icon_sakura_b.png);
	list-style-position: inside;
}

.n_box_s {
	width:288px;
	display:inline-block;
	vertical-align:top;
}

.n_box_s ul {
	background-color:#FFFFFF;
	text-align:left;
	vertical-align:top;
	margin:0 auto 10px;
}

.n_box_b li:nth-child(2n+1),
.n_box_s li:nth-child(2n+1){
	background:#caeffd;
}

.n_box_s li {
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:22px;
	padding:15px 0 15px 35px;
	background-image:url(../img/icon_sakura_s.png) !important;
	background-repeat:no-repeat !important;
	background-position:10px center !important;
}

.private {
	background-color:#ffa8a8;
	width:600px;
	margin:0 auto 20px;
	padding-bottom:27px;
}

.p_box li:nth-child(2n+1){
	background:#ffe1e1 !important;
}

.p_box p {
	position:relative;
	top:10px;
	left:240px;
}

.mess_box {
	margin-bottom:30px;
}

.mess {
	display:inline-block;
	margin-right:20px;
}

.arrow_box {
	position: relative;
	background: #ffffff;
	width:460px;
	margin:0 auto;
	padding:15px;
	border: 1px solid #00bff4;
	border-radius:6px;
}

.arrow_box p {
	font-size:18px;
	font-weight:bold;
	text-align:left;
}

.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 10px 20px 10px 20px;
	margin-top: -10px;
}
.arrow_box:before {
	border-color: rgba(0, 191, 244, 0);
	border-right-color: #00bff4;
	border-width: 11px 21px 11px 21px;
	margin-top: -11px;
}

.interview {
	background-color:#23abeb;
	text-align:left;
	width:600px;
	margin:0 auto;
	padding:10px;
}

.prof_box {
	width:600px;
}

.prof {
	width:409px;
	margin:0 10px;
	float:left;
}

.photo {
	float:right;
}

.prof p {
	color:#FFF;
	font-size:24px;
}

.prof p.name {
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:38px;
	height:60px;
}

.prof p.graduate {
	display:table-cell;
	vertical-align:top;
	width:auto;
}

.prof p.graduate:last-child {
	width:310px;
	padding-top:8px;
	line-height:120%;
}

.prof p.name span {
	vertical-align: text-top;
	font-size:24px;
}

.photo {
	margin-bottom:8px;
}

.interview_box {
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#1d1d1d;
	background-color:#FFF;
	margin-top:3px;
	padding:25px;
}

.school {
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	font-size:36px !important;
	font-weight:bold;
	line-height:100% !important;
}

.school span {
	font-size:24px !important;
	font-weight:normal;
}

.top_box {
	background-image:url(../img/success.png);
	background-position:right top;
	background-repeat:no-repeat;
	height:80px;
	padding:10px 0 20px;
	border-bottom:#333 1px dashed;
}

.bottom_box {
	padding:20px 0 0;
}

.bottom_box p {
	font-size:20px;
	line-height:140%;
}

.bottom_box p.bold {
	font-weight:bold;
}

.interview_box dl {
	font-size:20px;
}

.interview_box dt {
	background-image:url(../img/icon_q.png);
	background-repeat:no-repeat;
	background-position:left 10px;
	padding:10px 0 20px 30px;;
	border-bottom:#333 1px dashed;
}

.interview_box dd {
	background-image:url(../img/icon_a.png);
	background-repeat:no-repeat;
	background-position:left 15px;
	padding:10px 0 0 30px;
	line-height:160%;
}

.lead2 {
	font-size:26px !important;
	font-weight:bold !important;
	color:#22509c !important;
	margin:45px 0 0;
}

@media screen and (max-width: 799px) {

section {
	margin-bottom:30px;
}

p.lead {
	font-size:1.1em !important;
	width:83%;
	margin:0 auto 20px;
}

.national,
.private,
.interview {
	width:100%;
}

.national,
.private {
	padding-bottom:8px;
}

.n_box_b ul,
.p_box ul{
	width:96%;
}

.n_box_s {
	width:48%;
}

.n_box_b li,
.p_box li {
	font-size:30px;
	padding:10px;
}

.n_box_s ul {
	margin:0 auto 0;
}

.n_box_s ul li {	
	font-size:1.2em !important;
	background-size:10% !important;
}

.p_box p {
	text-align:right;
	font-size:16px;
	width:60px;
	margin-bottom:10px;
	position:relative;
	top:15px;
	left:75%;
}

.private .p_box ul {
	margin:0 auto -40px;
}

.mess_box {
	width:100%;
	margin-bottom:30px;
}

.mess {
	display:inline-block;
	margin:0 10px 0 5px;
}

.arrow_box {
	width:200px;
	padding:5px;
}

.arrow_box p {
	font-size:1.2em;
}

.arrow_box:after {
	border-width: 5px 10px 5px 15px;
	margin-top: 0;
}

.arrow_box:before {
	border-width: 6px 11px 6px 16px;
	margin-top: -1px;
}

.interview {
	padding:0 0 3px 0;
}

.prof_box {
	width:100%;
}

.prof {
	width:150px;
	margin:0 10px;
}

.photo img {
	width:140px;
	height:auto;
	margin-right:10px;
}

.prof p {
	font-size:12px;
}

.prof p.name {
	height:auto;
	font-size:20px;
}

.prof p.name span {
	font-size:18px;
}

.prof p.graduate:last-child {
	width:110px;
	padding-top:3px;
}

.photo {
	margin:8px 0 5px;
}

.interview_box {
	margin:5px 8px 8px;
	padding:10px;
}

.school {
	font-size:22px !important;
	font-weight:bold !important;
}

.school span {
	font-size:18px !important;
}

.top_box {
	background-image:url(../img/success.png);
	background-position:right top;
	background-repeat:no-repeat;
	background-size:60px;
	height:40px;
	padding:10px 0 20px;
	border-bottom:#333 1px dashed;
}

.bottom_box p {
	font-size:12px;
}

.interview_box dl {
	font-size:1.2em;
}

.interview_box dt {
	background-size:16px;
	padding-left:15px;
}

.interview_box dd {
	background-size:16px;
	padding-left:15px;
}

.lead2 {
	font-size:14px !important;
}


}