
$bg-color: #22509c !default;

// reset css

@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: bottom;
	background-color: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input ,select{
	vertical-align:middle;
}
//reset css


/* common benesse-header benesse-footer
--------------------------------------------------*/
.benesse-header,
.benesse-footer {
	background-color: #fff;
	color: #000;
	font: 12px/1.231 "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
}

.benesse-header a,
.benesse-footer a {
	color: #0070cb;
	text-decoration: underline;
}

.benesse-header__inner,
.benesse-footer__inner {
	margin-right: auto;
	margin-left: auto;
	max-width: 926px; /* 950px - 12px * 2 */
	padding: 12px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	*zoom: 1; /* IE6,7 */
}

/* Clearfix */
.benesse-header__inner:before,
.benesse-header__inner:after,
.benesse-footer__inner:before,
.benesse-footer__inner:after {
	content: "";
	display: block;
	overflow: hidden;
}
.benesse-header__inner:after,
.benesse-footer__inner:after {
	clear: both;
}

.benesse-header__link,
.benesse-footer__link {
	margin: 0 0 0 -12px;
	padding: 0;
	list-style-type: none;
}

.benesse-header__link li,
.benesse-footer__link li {
	display: inline;
	margin-left: 12px;
}

.benesse-header__link a,
.benesse-footer__link a {
	display: inline-block;
	padding: 4px 0 4px 10px;
	background: url(../img/icon-arrow@2x.png) left center / 6px 6px no-repeat;
	background: url(/zemi/trial/headfoot/img/icon-arrow.png) left center no-repeat\9; /* IE7 */
}

/* benesse-header
--------------------------------------------------*/
.benesse-header {
	padding-bottom: 0;
}

.benesse-header__inner {
	padding-bottom: 0;
}

.benesse-header__logo {
	float: left;
	display: inline; /* IE6 */
	margin: -12px 0 0 -12px;
}

.benesse-header__logo a {
	display: inline-block;
}

.benesse-header__logo img {
	display: block;
	width: 130px;
	height: 43px;
	border: none;
}

.benesse-header__link {
	float: right;
	margin-top: -1px;
	margin-bottom: 8px;
	margin-left: 0;
}

@media screen and (max-width: 480px) {

	.benesse-header__link li {
		display: block;
		text-align: right;
	}
}

/* benesse-footer
--------------------------------------------------*/
.benesse-footer {
}

.benesse-footer__link {
	float: left;
	display: inline; /* IE6 */
}

.benesse-footer__copyright {
	float: right;
	margin: 0 0 0 12px;
	padding: 4px 0;
	color: #666;
	font-size: 11px;
	text-align: right;
}
// 追加
.benesse-footer__link{
	margin-right: 12px;
}
// 追加
@media screen and (max-width: 480px) {

	.benesse-footer__copyright {
		clear: left;
		float: none;
		margin-left: 0;
		text-align: left;
	}
}

/* common benesse-header benesse-footer ここまで */


body{
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	color: #4F545D;
}
section{
	width: 100%;
}
.header-content-bottom::after,
section::after,
.clearfix::after{
	display: table;
	content: "";
	clear: both;
}
.pc_off{
	display: none;
}
.header{
	.header-content{
		position: relative;
		height: 50px;
		width: 960px;
		margin: 0 auto;
		.logo{
			position: absolute;
			top: 5px;
			left: 10px;
			width: 35%;
			img{
				max-width: 109px;
			}
		}
		.b_top{
			position: absolute;
			top: 15px;
			right: 10px;
			font-size: 14px;
			a.arrow{
				padding-left: 12px;
				background-image: url(../img/mark.gif);
				background-repeat: no-repeat;
				background-position: left;
				color: #0270ca;
			}
		}
	}

	.header-content-bottom{
		position: relative;
		max-width: 960px;
		margin: 0 auto;
		border-top: 4px solid  #5077b7;
		.drawer-trigger,.center-logo,.login-btn{
			display: inline-block; 
		}
		.drawer-toggle{
			display: none;
		}
		.center-logo{
			height: 68px;
			width: 63%;
			vertical-align: middle;
			margin-top: 12px;
		}
		.login-btn{
			width: 125px;
			height: 80px;
			float: right;
		}
		.drawer-nav{
			width: 960px;
			position: static;
			border-top: 4px solid  #5077b7;
			border-bottom: 4px solid  #5077b7;
		}
		.menu-list{
			max-width: 960px;
			li{
				text-align: center;
				float: left;
				a{
					display: block;
					font-size: 1.4em;
					color: #005ca2;
					margin: 36px 0;
					padding: 0 1em;
					border-right: 2px solid  #5077b7;
					text-decoration: none;
					&:hover{
						span{
						background: #005ca2;
						color: #fff;
						}
					}
				}
				&.last a{
					height: 1em;
					border-right: none;
					span{
						margin-top: -.5em;
						line-height: 1.1em;
						display: inline-block;
					}
				}
			}
		}
	}
}
.container{
	max-width: 960px;
	margin: 0 auto;
}
.content-wrap{
	h2{
		width: 100%;
		font-size: 2.5em;
		text-align: center;
		padding: 0.8em 0;
		color: $bg-color;
		border-bottom: 4px solid $bg-color;
	}
	h3{
		font-size: 1.5em;
		padding: 1em 0 1em 2em;
		margin-top: 3em;
		color: $bg-color;
		border: 3px solid $bg-color;
		border-width: 3px 0 3px;
	}
	h4{
		font-size: 1.5em;
		color: $bg-color;
		background: #e6effd;
		padding: 1em 0 1em 2em;
		border: none;
	}
	.sub-title{
		font-size: 1.5em;
		padding: 0.8em 0 0.8em 2em;
		color: #4f545d;
	}
	p{
		font-size: 1.5em;
		line-height: 1.4em;
	}
	.login-btn{
		display: none;
	}
}
.contact-part{
	margin-bottom: 64px;
	.taiken,.contact{
		text-align: center;
		display: block;
		float: left;
		width: 50%;
	}
}
.gotop{
	text-align: center;
	img{
		max-width: 20%;
	}
}
.bottom-link{
	margin-top: 4em;
	width: 100%;
	li{
		font-size: 1.4em;
		line-height: 3em;
		color: $bg-color;
		background: #ddefff;
		text-align: center;
		bottom: 1px solid #c3dcf2; 
	}
}
.mt_75{
	margin-top: 75px;
}
.page01,.page02,.page03,.page04,.page05,.page06,.page07,.page08{
	.login-btn{
		display: none!important;
	}
	h2{
		width: 100%;
		font-size: 2.5em;
		text-align: center;
		padding: 0.8em 0;
		color: $bg-color;
		border-bottom: 4px solid $bg-color;
	}
	h3{
		font-size: 1.5em;
		padding: 1em 0 1em 2em;
		margin-top: 3em;
		color: $bg-color;
		border: 3px solid $bg-color;
		border-width: 3px 0 3px;
	}
	h4{
		font-size: 1.5em;
		color: $bg-color;
		background: #e6effd;
		padding: 1em 0 1em 2em;
		border: none;
	}
	.sub-title{
		font-size: 1.5em;
		padding: 0.8em 0 0.8em 2em;
		color: #4f545d;
	}
	p{
		font-size: 1.5em;
		line-height: 1.4em;
	}
	.login-btn{
		display: none;
	}
	h2,h3,h4{
		max-width: 960px;
		margin: 0 auto;
	}
}
.page00{
	.news{
		max-width: 960px;
		margin: 0 auto;
		font-size: 1em;
		line-height: 3em;
		white-space: nowrap;
		overflow: hidden;
		.label{
			color: #FF195F;
			margin: 0 20px;
		}
	}
	.slider-wrap{
		max-width: 960px;
		margin: 0 auto;
		/*次矢印のアイコンフォント*/
		.sp-next-arrow:before {
		  background: url(../img/caret-right.png) no-repeat left top /cover;
		}
		.sp-horizontal .sp-next-arrow{
			right: 1em;
		}
		/*前矢印のアイコンフォント*/
		.sp-previous-arrow:before {
		  background: url(../img/caret-left.png) no-repeat left top /cover;
		}
		.sp-horizontal .sp-previous-arrow{
			left: 1em;
		}
		.sp-slides-container .sp-fade-arrows {
			opacity: 1;
		}
		.sp-previous-arrow:before,
		.sp-previous-arrow:after,
		.sp-next-arrow:before,
		.sp-next-arrow:after{
			content: ' ' !important;
		  display: block;
		  width: 20px;
		  height: 20px;
		  text-indent: -9999px;
			-webkit-transform:none;
			-ms-transform:none;
			transform:none;
			position: relative;
			background-color: transparent;
		}
		.sp-mask.sp-grab{
			transition: height 0s !important;
			-webkit-transition: height 0s !important;
		}
	}
	.section1{
		text-align: center;
		.btn1{
			margin: 55px auto 55px;
		}
	}
	h2,h3{
		max-width: 960px;
		margin: 0 auto;
	}
	.section2{
		text-align: center;
		h2{
			width: 100%;
			color: #FFF; 
			font-size: 36px; 
			background: $bg-color;
			text-align: center;
			line-height: 1em;
			margin-bottom: 50px; 
		}
		img{
			margin-bottom: 2em; 
		}
		h3{
			border:3px solid $bg-color;
			margin: 0 auto;
			text-align: center;
			color: $bg-color;
			font-size: 2em;
			line-height: 1em;
			max-width: 960px;
			padding: 1em 0 1em;
		}
		ul{
			margin: 25px auto 55px 30% ;
			list-style:disc;
			li{
				margin-bottom: .5em;
				text-align: left;
			}
		}
	}
	.section3{
		text-align: center;
		.wrap{
			background: #e6effd;
		}
		h2{
			text-align: center;
			background: $bg-color;
			color: #fff;
			font-size: 2em;
			line-height: 1em;
		}
		.top-3-1{
			margin-top: 2em;
		}
		.top-3-1,
		.top-3-2,
		.top-3-3,
		.top-3-4,
		.top-3-5{
			margin-bottom: 2em;
		}
		.contact-part{
			margin-top: 56px; 
		}
	}
}
#modal-overlay{
	z-index:10;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}
.page01{
	.section1{
		h2{
			width: 960px;
			margin: 0 auto;
			font-size: 1.5em;
			text-align: center;
			padding: 1em 0;
			color: $bg-color;
			border-bottom: 4px solid $bg-color;
		}
		.description{
			font-size: 1em;
			line-height: 1.5em;
			margin: 1em auto;
		}
		.btn-part{
			padding: 1em 0 0;
			margin: 0 -7px 60px;
			.btn-part_btn{
				display: block;
				float: left;
				width: 25%;
				box-sizing: border-box;
				padding: 7px;
				img{
					width: 100%;
				}
			}
		}
	}
	.modal-part{
		.modal-content{
			width: 580px;
			display: none;
			position: absolute;
			left: 50%;
			margin-left: -290px;
			top: 10%;
			z-index: 9999;
		}
		&>div{
			background: #fff;
			border-radius: 30px;
			box-sizing: border-box;
			background-color:  #ffffff;
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
		}
		.heading{
			background: #00bddd;
			border-radius:30px 30px 0 0;
			padding: 1em 0;
			text-align: center;
			font-size: 1.5em;
			color: #fff;
		}
		.content{
			padding: 1em;
		}
		.img,.text{
			float: left;
			box-sizing: border-box;
			font-size: 1.5em;
		}
		.img{
			width: 30%;
			text-align: center;
		}
		.text{
		  width: 70%;
		  padding-left: 1.5em;
		  line-height: 1.2em;
		  span{
		  	background: #fffbcb ;
		  }
			.box{
				border: 1px solid #d4d4d4;
				padding: 20px 12px;
				margin: 1em 0;
				font-size: 1em;
			}
		}
		.modal-btn-part{
			text-align: center;
			a{
        width: 40%;
				margin: 0 4% 10%;
				display: inline-block;
				box-sizing: border-box;
			}
		}
	}
}
.page02{
	h2,h3,h4,.sub-title,.movie-title{
		max-width: 960px;
		margin: 0 auto;
		padding: 1em 0;
		text-align: left;
    box-sizing: border-box;
	}
	h2{
		font-size: 2.5em;
		padding: 0.8em 0;
		text-align: center;
		color: $bg-color;
		border-bottom: 4px solid $bg-color;
	}
	h3{
		font-size: 1.5em;
		margin-top: 3em;
		padding: 1em 0 1em 2em;
		color: $bg-color;
		border: 3px solid $bg-color;
		border-width: 3px 0 3px;
	}
	h4{
		font-size: 1.5em;
		color: $bg-color;
		background: #e6effd;
		padding: 1em 0 1em 2em;
	}
	.sub-title{
		font-size: 1.5em;
		padding: 0.8em 0 0.8em 2em;
		color: #4f545d;
	}
	.img-wrap{
		text-align: center;
		margin-bottom: 30px;
	}
	.section1{
		h3{
			margin-top: 0;
		}
		.movie-title{
			background: $bg-color;
			color: #FFF;
			font-size: 1.5em;
			text-align: center;
			padding: 1em 0;
		}
		.movie{
			margin: 2em auto 2em;
		}
	}
	.section2{
		img{
		}
		.img-wrap{
		}
	}
	.section3{
		.left,.right{
			float: left;
			box-sizing:border-box;
		}
		.left{
			padding-right: 25px;
			width: 45%;
			img{
				width: 100%;
			}
		}
		.right{
			padding-left: 25px;
			width: 55%;
			img{
				width: 100%;
				margin-bottom: 10px;
			}
		}
		.child-title{
			font-size: 1.5em;
			color:  #22509c;
			font-weight: 700;
			letter-spacing: 0.48px;
			line-height: 34px;
			text-align: center;
			margin: 2em auto 1em;
		}
	}
	.contact-part{
		margin-top: 70px;
	}
}
.page03{
	h3{
		background: $bg-color;
		color: #FFF;
		font-size: 2.5em;
		text-align: center;
		padding: 0.8em 0;
		margin-top: 0;
	}
	h4{
		color:  $bg-color;
		background: none;
		font-size: 1.875em;
		font-weight: 700;
		letter-spacing: 1.2px;
		line-height: 1.5em;
		margin: 1.7em auto 0;
		padding: 0;
	}
	p{
		color: #4f545d;
		font-weight: 400;
		line-height: 1.8em;
	}
	.sub-title{
		font-size: 2.5em;
	}
	.danger{
		color: #ff7474;
		font-size: 1.5em;
		font-weight: 400;
	}
	.section1{
		margin-bottom: 5em;
		.container{
			text-align: center;
		}
		.sp_03_service_1{
			margin: 30px auto;
		}
		.sec1-p{
			font-size: 1.5em;
			color:  #4f545d;
			font-weight: 400;
			line-height: 1.5em;
			margin-bottom: 4.5em;
		}
	}
	.section2{
		margin-bottom: 5em;
		.box-heading{
			font-weight: 700;
			margin-top: .8em;
			span{
				background: $bg-color;
			}
		}
		.box-body{
			border: 1px solid $bg-color;
			box-sizing: border-box;
			background-color:  #ffffff;
			padding: 1.875em 1.5em ;
		}
	}
	.section3{
		margin-bottom: 3.5em;
		.blue{
			color: $bg-color;
			margin: .5em auto;
		}
		.mb{
			margin-bottom: 1.5em;
		}
	}
}
.page04{
	h3{
		background: $bg-color;
		color: #FFF;
		font-size: 2.5em;
		text-align: center;
		padding: 0.8em 0;
	}
	h4{
		color:  $bg-color;
		font-size: 1.875em;
		font-weight: 700;
		letter-spacing: 1.2px;
		line-height: 1.5em;
		margin: 1.7em auto 0;
	}
	.panel{
		width: 450px;
		height: 395px;
		margin: 15px;
		border: 1px solid  #00bff4;
		box-sizing: border-box;
		.panel-heading{
			position: relative;
			height: 120px;
			border: 2px solid transparent;
			box-sizing:border-box;
			color: #FFF;
			overflow: hidden;
			p{
				font-size: 2.75em;
				line-height: 120px;
				display: inline-block;
				margin-left: 25%;
			}
		}
		&.student .panel-heading{
			background-color:  #00bff4;
			&::before{
				content:"";
				background: url(../img/sp_04_uservoice_studentA.png) no-repeat top left /contain;
			}
		}
		&.parent{
			border: 1px solid  #cea8e8;
		}
		&.parent .panel-heading{
			background-color:  #cea8e8;
			&::before{
				content:"";
				background: url(../img/sp_04_uservoice_parentA.png) no-repeat top left /contain;
			}
		}
		.panel-heading::before{
			height: 110px;
			width: 100%;
			margin-left: 10px;
			position: absolute;
			bottom: 0;
			display: inline-block;
		}
		.panel-body{
			font-size: 1.5em;
			line-height: 1.7em;
			padding: 1.6em 1.5em;
		}
	}
	.section1{
		h3{
			margin-top: 0;
		}
	}
	.section2{
		margin-bottom: 4em;
		p{
			font-size: 1.5em;
			line-height: 1.5em;
		}
		.clock-title{
			font-weight: bold;
			margin-top: 2em;
			.clock{
				width: 1em;
				height: 1em;
				margin: .3em 0;
			}
		}
		.clock-content{
			margin-bottom: 2em;
		}
		.img-wrap{
			text-align: center;
		}
	}
}
.page05{
	.btn{
		margin: 1em auto;
	}
	.container p{
		margin: 1em auto;
	}
	h2{
		max-width: 960px;
		margin: 0 auto;
	}
	h3{
		background: $bg-color;
		color: #FFF;
		font-size: 2.5em;
		text-align: center;
		padding: 0.8em 0;
		margin-top: 1em;
	}
	.table-title{
		color: $bg-color;
	}
	.table-notice{
		font-size: 1.25em;
	}
	.credit{
		font-weight: bold;
	}
	table{
		width: 100%;
		th,td{
			padding: 1em 2em;
			border: 1px solid $bg-color;
			text-align: center;
			font-size: 1.5em;
		}
		th{
			background-color:  #ddefff;
		}
	}
	.text-box{
		width: 100%;
		height: 150px;
		overflow: scroll;
		margin: 2em 0;
		p{
			font-size: 1em;
		}
		a.security-notice{
			color: #32b4ff;
			text-decoration: underline;
		}
	}
	.link{
		text-align: center;
	}
	.flow{
		p{
			margin: 2em 0 2em;
		}
		img{
			margin: 1em 0;
		}
		img.expand{
			margin: .2em;
			width: 1em;
			height: 1em;
		}
	}
	.text-center{
		text-align: center;
	}
	.link-box{
		width: 45%;
		display: inline-block;
		margin: 2%;
		img{width: 100%;}
	}
}
.page06{
	.sub-title{
		padding-left: 0;
	}
	h2,h3{
		max-width: 960px;
		margin: 0 auto;
	}
	.qa-list{
		margin-top: 1em;
		li::after,li>div::after{
			content: "";
			clear: both;
			display: table;
		}
		li>div>div{
			float: left;
			box-sizing:border-box;
		}
		.box-q-num,.box-a{
			color: #FFF;
			font-size: 1.5em;
			line-height: 3em;
			text-align: center;
			width: 11%;
		}
		.box-q-num{
			background-color:  #22509c;
		}
		.box-q-content,
		.box-a-content{
			width: 89%;
			font-size: 1.25em;
			padding: .5em;
			min-height: 3.65em;
			color: #22509c;
			line-height: 1.2em;
		}
		.box-q-content{
	    display:table;
			height: 3.6em;
			padding-right: 50px;
			background-color:  #e6effd;
			position: relative;
			&::after{
				content: "";
				background: url(../img/caret-down.png) no-repeat center center /cover;
				display: block;
				position: absolute;
				width: 2em;
				height: 2em;
				top: 50%;
				margin-top: -1em;
				right: .5em;
			}
			&.open::after{
				background: url(../img/caret-up.png) no-repeat center center /cover;
			}
			span{
				display: table-cell;
				vertical-align: middle;
			}
		}
		.answer{
			display: none;
		}
		.box-a{
			background-color:  #32b4ff;
		}
		.box-a-content{
			margin-bottom: 1px;
		}
	}
	.tel-img{
		text-align: center;
		margin: 2em;
	}
	.tel-box{
		max-width: 500px;
		background-color: #32b4ff;
		border-radius: 20px;
		margin: 2em auto;
		padding: 1em 0 2em;
		li{
			color:#fff;
			text-align:center;
			margin-right:20px;
			margin-left:20px;
			font-size:13px;
		}
		li.n01{
			font-weight:bold;
			font-size:18px;
			padding-top:8px;
			padding-bottom:8px;
		}

		li.n02{
			border-top:1px solid #ffffff;
			border-bottom:1px solid #ffffff;
			font-weight:bold;
			font-size:2.9em;
			padding-top:15px;
			padding-bottom:5px;
			margin:auto 20px;
		}
		li.n03{
			padding-bottom:0px;
			padding-top:16px;
			line-height:1.5;
		}
		li.n04{
			padding-bottom:0px;
			padding-top:5px;
			line-height:1.5;
			text-align:left;
		}
	}
}
.page07{
	h2,h3{
		max-width: 960px;
		margin: 0 auto;
	}
	h3{
		font-size: 1.5em;
		color: $bg-color;
		background: #e6effd;
		padding: 1em 0 1em 1.25em;
    box-sizing: border-box;
		border: none;
	}
	.info{
		padding:1em 30px 3em;
	}
	.info-blue{
		font-size: 1.5em;
		color: $bg-color;
		font-weight: bold;
		margin: 1em 0;
	}
	.mb2em{margin-bottom: 2em;}
	.fb{
		font-weight: bold;
	}
}
.page08{
	h2,h3{
		max-width: 960px;
		margin: 0 auto;
	}
	.container{
		padding-top: 1em;
	}
}
@media screen and (max-width:768px) {
	
}
@media screen and (max-width:640px) {
	.pc_off{
		display: block;
	}
	.pc_on{
		display: none;
	}
	body{
		font-size: 16px;
	}
	img{
		max-width: 100%;
	}
	.container{
		max-width: 100%;
		padding: 0 30px;
	}
	.drawer--left .drawer-nav{
		left: -120%;
		 background-color: transparent;
	}
	.header{
		.header-content{
			height: 60px;
			width: 100%;
			border-bottom: 4px solid  #5077b7;
			a{
				display: inline-block;
				vertical-align: middle;
			}
			p{
				font-size: 1em;
				line-height: 1em;
			}
			.logo{
				top: 15px;
				left: 10px;
				width: 35%;
				img{
					width: 107px;
				}
			}
			.b_top{
				top: 15px;
			}
			.b_top a.arrow{
				padding-left: 13px;
				background-image: url(../img/icon-arrow.png);
			}
			.header-link{
				float: right;
				margin: 1.5em 0 1em auto;
			}
		}
		.header-content-bottom{
			position: relative;
			border-top: none;
			.drawer-toggle{
				display: inline-block;
				float: left;
				width: 15%;
			}
			.center-logo{
				height: auto;
				text-align: center;
				img{
					max-width: 50%;
				}
			}
			.login-btn{
				width: 22%;
				max-width: 200px ;
				height: auto;
			}
			.drawer-nav{
				width: 100vw;
				height: 120vh;
				position: absolute;
				top: 100%;
				border: none;
			}
			.menu-list{
				li{
					width: 100%;
					border-bottom: 1px solid  #5077b7;
					background: $bg-color;
					text-align: center;
					a{
						color: #fff;
						margin: 1em 0;
						font-size: 1em;
						border-right:none;
						&:hover span{
							background: transparent;
						}
					}
				}
			}
			.header-btn{
				.offer1,.offer2{
					
				}
			}
		}
	}
	.contact-part{
		.taiken,.contact{
		}
	}
	.gotop{
		text-align: center;
		img{
			max-width: 20%;
		}
	}
	.bottom-link{
		margin-top: 4em;
		width: 100%;
		li{
			font-size: 1.4em;
			line-height: 3em;
			color: $bg-color;
			background: #ddefff;
			text-align: center;
			bottom: 1px solid #c3dcf2; 
		}
	}
	.mt_75{
		margin-top: 75px;
	}
	.page00{
		.news{
			.label{
			}
		}
		.slider-wrap{
			max-width: 100%;
			.sp-previous-arrow:before,
			.sp-previous-arrow:after,
			.sp-next-arrow:before,
			.sp-next-arrow:after{
			  width: 1em;
			  height: 1em;
			}
		}
		.section1{
			.btn1{
				margin: 55px auto 55px;
			}
		}
		.section2{
			h2{
				line-height: 3em;
				font-size: 24px;
			}
			h3{
				line-height: 3em;
				border-left: none;
				border-right: none;
			}
			ul{
				margin: 25px 0 25px 30px ;
				list-style:disc;
				li{
				}
			}
		}
		.section3{
			.wrap{
				background: #e6effd;
			}
			.top-3-1{
				margin-top: 2em;
			}
			.top-3-1,
			.top-3-2,
			.top-3-3,
			.top-3-4,
			.top-3-5{
				margin-bottom: 2em;
			}
			.contact-part{
				margin-top: 56px; 
			}
		}
	}
	.page01{
		.section1{
			h2{
				width: 100%;
			}
			.description{
			}
			.btn-part{
				padding: 1em 0 0;
				margin: 0 -7px 60px;
				.btn-part_btn{
					display: block;
					float: left;
					width: 50%;
					box-sizing: border-box;
					padding: 7px;
				}
			}
		}
		.modal-part{
			.modal-content{
				width: 90%;
				max-width: 580px;
				height: auto;
				left: 5%;
				top: 15%;
				margin:0;
			}
			&>div{
			}
			.heading{
			}
			.content{
			}
			.img,.text{
			}
			.img{
			}
			.text{
			  span{
			  }
				.box{
				}
			}
			.modal-btn-part{
				a{
				}
			}
		}
	}
	.page02{
		h2{
			width: 100%;
		}
		h3{
			padding: 1em 0 1em 2em;
		}
		h4{
		}
		.sub-title{
		}
		.section1{
			h3{
			}
			.movie-title{
			}
			.movie{
			}
		}
		.section2{
			img{
			}
			.img-wrap{
			}
		}
		.section3{
			.left,.right{
			}
			.left{
			}
			.right{
				img{
				}
			}
			.child-title{
				text-align: left;
			}
		}
		.contact-part{
		}
	}
	.page03{
		h3{
			margin-top: 0;
		}
		h4{
		}
		p{
		}
		.sub-title{
		}
		.danger{
		}
		.section1{
			.sp_03_service_1{
			}
			.sec1-p{
				text-align: left;
			}
		}
		.section2{
			.box-heading{
				span{
				}
			}
			.box-body{
			}
		}
		.section3{
			.blue{
			}
			.mb{;
			}
		}
	}
	.page04{
		h3{
		}
		h4{
		}
		.panel{
			.panel-heading{
				height: 60px;
				p{
					line-height: 60px;
				}
			}
			&.student .panel-heading{
				&::before{
				}
			}
			&.parent{
			}
			&.parent .panel-heading{
				&::before{
				}
			}
			.panel-heading::before{
			}
			.panel-body{
			}
		}
		.section1{
			h3{
			}
		}
		.section2{
			p{
			}
			.clock-title{
				.clock{
				}
			}
			.clock-content{
			}
		}
	}
	.page05{
		.btn{
		}
		p{
		}
		h3{
		}
		.table-title{
		}
		.table-notice{
		}
		.credit{
		}
		table{
			th,td{
				padding: 1em 1em;
				font-size: 1em;
			}
			th{
			}
		}
		.text-box{
			p{
			}
			a.security-notice{
			}
		}
		.link{
		}
		.flow{
			p{
			}
			img{
			}
			img.expand{
			}
		}
		p.text-center{
		}
		.link-box{
			width: auto;
			display: block;
			img{width: 100%;}
		}
	}
	.page06{
		.sub-title{
		}
		.qa-list{
			li::after,li>div::after{
			}
			li>div>div{
			}
			.box-q-num,.box-a{
			}
			.box-q-num{
			}
			.box-q-content,
			.box-a-content{
			}
			.box-q-content{
				&::after{
				}
				&.open::after{
				}
				span{
				}
			}
			.answer{
			}
			.box-a{
			}
			.box-a-content{
			}
		}
	}
	.page07{
		h3{
			font-size: 1.5em;
			color: $bg-color;
			background: #e6effd;
			padding: 1em 0 1em 1.25em;
			border: none;
			margin-top: 0;
		}
		.info{
			padding:1em 30px 3em;
		}
		.info-blue{
			font-size: 1.5em;
			color: $bg-color;
			font-weight: bold;
			margin: 1em 0;
		}
		.mb2em{margin-bottom: 2em;}
		.fb{
			font-weight: bold;
		}
	}
	.page08{
		.container{
			padding-top: 1em;
		}
	}
}
@media screen and (max-width:480px) {
	body{
		font-size: 12px;
	}
	.menu-list{
		li{
			font-size: 20px;
		}
	}
	.page04{
		.panel{
			width: 300px;
			height: 260px;
			.panel-heading::before{
				height: 50px;
			}
		}
	}
}
@media screen and (max-width:320px) {
	body{
		font-size: 8px;
	}
	.page04{
		.panel{
			width: 280px;
			height: 240px;
			.panel-heading::before{
				height: 50px;
			}
		}
	}
}

